backend/node_modules
frontend/node_modules

backend/.env.development
backend/.env.production
frontend/.env.production
frontend/.env.development

*.log
*.cache

backend/.env
frontend/.env

frontend/.next
frontend/out

docker-compose.yml
*.dockerfile

.vscode
.DS_Store
